
div.header { font-size: 90%; text-align: center; }
#controls { background-color: green; color: white; padding: 10px; }
div.meta { }
#results-classic { background-color: #EEE; }
#results-solr { background-color: #EEE; }